.image-with-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .image-with-text {
    grid-template-columns: 1fr;
  }
}

.image-with-text.reverse {
  direction: rtl;
}

.image-with-text-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  direction: ltr;
}

.image-with-text-body {
  width: 75%;
  margin: 0 auto;
  padding-top: 50px;
}

.image-with-text img {
  max-width: 50%; /* Максимальна ширина зображення */
  height: auto; /* Автоматична висота */
}
